form input {
    height: 30px;
    border-radius: 5px solid black;

}

form label {
    height: 30px;
 
  
}

.submit-button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    margin: 5px;
}
